wiki
build
tmp
.bumpversion.cfg
.cache
.coverage
.tox
coverage.xml
pytest.xml
chromedriver

# Python files
__pycache__/
*.py[cod]

# Sphinx build dir
_build/

# node files
node_modules

# phantomjs
ghostdriver.log
