include LICENSE
include README.rst
include wdom/_static/js/wdom.js

recursive-include tests *.py *.css
recursive-include wdom/_static/css *.css
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.css *.js *.html
recursive-exclude docs/_build *
