<!DOCTYPE html>
<head>
  <meta charset="{{ charset }}" />
  <meta content="text/css" http-equiv="Content-Style-Type" />
  <title> {{ title }} </title>
  <link href="favicon.ico" rel="shortcut icon">
  {% for header in headers %}
    {{ header }}
  {% end %}
  {% for css in cssfiles %}
    <link href="{{ css }}" rel="stylesheet">
  {% end %}
</head>
<body>
  {% for content in contents %}
    {{ content }}
  {% end %}
  {% for js in jsfiles %}
    <script src="{{ js }}" type="text/javascript"></script>
  {% end %}
  <script type="text/javascript">
    {% if autoreload %}
      var WDOM_AUTORELOAD = true
    {% end %}
    var WDOM_LOG_CONSOLE = true
  </script>
</body>
</html>
