{% extends 'alabaster/layout.html' %}
{% block extrahead %}
  {{ super() }}
  <!-- Web Fonts -->
  {# <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'> #}
  {# <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'> #}
  {# <link href='https://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'> #}
  <link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
  {# <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'> #}
  <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
  {# <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'> #}
  {# <link href='https://fonts.googleapis.com/css?family=Gentium+Basic' rel='stylesheet' type='text/css'> #}
  {# <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'> #}
  {# <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'> #}
  {# <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'> #}
  {# <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700' rel='stylesheet' type='text/css'> #}

  <!-- Style -->
  <link href="{{ pathto('_static/custom.css', 1) }}" rel="stylesheet" type="text/css">
  <link href="{{ pathto('_static/custom_ja.css', 1) }}" rel="stylesheet" type="text/css">
{% endblock %}
