body {
  font-size: 18px;
}

h1.logo {
  font-family: 'PT Serif', serif;
}

h1.logo a {
  text-decoration: none;
  border-bottom: none;
}

p.blurb {
  font-family: 'Great Vibes', serif;
}

div.sphinxsidebarwrapper li {
  padding-left: 0.6rem;
  font-family: 'PT Serif', serif;
  line-height: 1.5;
}

div.sphinxsidebar li>a {
  text-decoration: none;
  border-bottom: solid 1px #dddddd;
}

dl.class em {
}

dt {
  background-color: #ecf0f3;
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
  border-top: solid 2px #ccd0d3;
}
